<html>
<head>
  <meta charset="UTF-8">
  <script src="{{ url_for('static', filename='libraries/p5.js') }}"></script>
  <script src="{{ url_for('static', filename='libraries/p5.dom.js') }}"></script>
  <script src="{{ url_for('static', filename='flowers/flowers.js') }}"></script>
  <style> body {padding: 0; margin: 0;} </style>
</head>

<body>
</body>
</html>
