<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stano's Awsome Stuff</title>
</head>
<body>
<ul>
    <li><a href={{ url_for('flowers') }}>Drawing</a></li>
    <li><a href={{ url_for('lightning') }}>Lightning</a></li>
    <li><a href={{ url_for('white') }}>White</a></li>
    <li><a href={{ url_for('something') }}>Something</a></li>
    <li><a href={{ url_for('something_else') }}>Something else</a></li>
    <li><a href={{ url_for('concussion') }}>Concussion</a></li>
</ul>

</body>
</html>