<html>
<head>
  <meta charset="UTF-8">
  <script src="{{ url_for('static', filename='libraries/p5.js') }}"></script>
  <script src="{{ url_for('static', filename='libraries/p5.dom.js') }}"></script>
  <script src="{{ url_for('static', filename='lightning/lightning.js') }}"></script>
  <script src="{{ url_for('static', filename='lightning/random_function.js') }}"></script>
  <script src="{{ url_for('static', filename='lightning/UnitArr.js') }}"></script>
  <script src="{{ url_for('static', filename='lightning/Mage.js') }}"></script>
  <script src="{{ url_for('static', filename='lightning/Enemy.js') }}"></script>

  <!-- this line removes any default padding and style. you might only need one of these values set. -->
  <style> body {padding: 0; margin: 0;} </style>
</head>

<body>
</body>
</html>
