<html>
<head>
  <meta charset="UTF-8">
    <script>const image_data = '{{ image_data | tojson }}';</script>

  <style> body {padding: 0; margin: 0;} </style>
</head>

<body>
  <script src="{{ url_for('static', filename='libraries/p5.js') }}"></script>
  <script src="{{ url_for('static', filename='libraries/p5.dom.js') }}"></script>
  <script src="{{ url_for('static', filename='something_else/something_else.js') }}"></script>
  <script src="{{ url_for('static', filename='something_else/Point.js') }}"></script>
  <script src="{{ url_for('static', filename='something_else/Segment.js') }}"></script>
  <script src="{{ url_for('static', filename='something_else/SegmentManager.js') }}"></script>
</body>
</html>
